infrastructure/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.0.2/darwin_arm64/terraform-provider-azurerm_v3.0.2_x5
infrastructure/.terraform/providers/registry.terraform.io/hashicorp/cloudinit/2.3.3/darwin_arm64/terraform-provider-cloudinit_v2.3.3_x5
